DATABASE_URL="file:./dev.db"
AUTH_SECRET="te_dev_secret_change_me_in_production_8f2c9a1b"
NEXTAUTH_SECRET="te_dev_secret_change_me_in_production_8f2c9a1b"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true

# Firebase Client Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBKSmyuXcbvhhHqTjQdCThwilTaTYBQTwc"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="ridesarthi-d3097.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="ridesarthi-d3097"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="ridesarthi-d3097.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="678271192574"
NEXT_PUBLIC_FIREBASE_APP_ID="1:678271192574:web:3ab91f22f81356ea1c84af"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-Q3307MWGMH"
